body{
	background: url(../images/skulls.png);
	font-family: Verdana;
}

h1{
	font-family: "Helvetica Nueue";
}

#removeAll{
	position: fixed;
	top : 570px;
	left: 740px;
}

.addInput{
	position:fixed;
	top: 500px;
	right: 510px;
	width: 150px;
}

.addButton{
	position:fixed;
	top : 500px;
	right: 470px;
}

.mainContent{
	border:2px solid;
	border-radius: 15px;
	width: 500px;
	height: 600px;
	margin:0 auto;
	padding-left:10px;
	padding-bottom: 5px;
	background: url(../images/metal.png);
	/*background-color: #bfd;*/
	box-shadow: 1px 2px 2px;
	overflow: hidden;
}

.error{
	color: #BF4D4D;
}

.inputs{
	vertical-align: middle;
}